# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log
.ipynb_checkpoints

data_*
data
tests
raw_data
tmp/
.idea/
models
model
.spyderproject
wsclient.cred
*.svg
*.png
